body {
    background-color: rgb(116, 98, 231);
    font-family: calibri;
}

section#page_content {
    width: 60%;
    margin : auto;
    padding: 20px;
    padding-top: 0px;

    background-color: white;
    border: 1px solid black;
}

header {
    display: block;
    margin-bottom: 30px;
}

header h1 {
    width: 500px;
    margin: 0px;
    margin-top: -1px;
    padding: 3px;
    margin-left: 500px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 26px;
    color: white;
    background-color: rgb(255, 86, 56);
    border: black 1px solid;
}

section#encadre{
    display: flex;
    flex-direction: row;
}

img#logo {
    height: 60px;
    border: 1px solid black;
}

h2#titre_bleu {
    justify-content: center;
    width: 700px;
    margin: 0px;
    margin-left: 10px;
    padding-top: 12px;

    text-align: center;
    font-size: 26px;
    color: rgb(89, 92, 255);
    border: 1px solid black;
    text-shadow: gray 1px 1px 2px;
}

h3 {
    background-color: lightblue;
    font-size: 20px;
    padding: 2px;
    padding-left: 8px;
}

.blue {
    color: blue;
}

img#vagues {
    width: 300px;
    height: 60px;
    margin-left: 35%;
}

/* Partie renseignements */
#renseignements {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#renseignements section {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#renseignements label {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 250px;
    margin-right: 5px;

    font-size: 18px;
    text-align: right;
    font-family: arial;
}

#renseignements input {
    border: 1px solid black;
    padding: 4px;
}

/* Partie questionnaire */
#questionnaire .question {
    margin-bottom: 40px;
}

#questionnaire textarea {
    width: 370px;
    height: 63px;
}

#questionnaire label {
    font-size: 15px;

}

#questionnaire input {
    border: 1px solid black;
    padding: 4px;
    font-size: 15px;
}


.question p {
    font-weight: bold;
}
.question p em {
    font-weight: normal;
}

/* Login */
#login {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#login fieldset {
    background-color: rgb(119, 216, 255);;
    border: rgb(116, 172, 255) 4px ridge;
    padding: 25px;
}

label {
    font-size: 18px;
    font-family: 'Comic Sans MS', arial;
}

input {
    padding: 7px;
}

#login .element {
    margin-bottom: 8px;
}

#login footer  {
    margin-top: 20px;
}

input[type='submit'], input[type='reset'] {
    background-color: rgb(46, 112, 255);
    border: 2px inset rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    padding: 10px;
    margin-right: 20px;

    font-weight: bold;
    border-radius: 8px;
}

input[type='submit']:hover, input[type='reset']:hover {
    background-color: rgb(40, 97, 255);
    border: 2px outset rgb(0, 0, 0);
    color: white;
    text-shadow : black 1px 1px 1px;
}

footer {
    display: flex;
    justify-content: center;
}

a#deconnexion{
    background-color: rgb(46, 112, 255);
    border: groove 3px rgb(184, 184, 184);
    border-radius: 7px;
    padding: 8px;
    color: rgb(250, 250, 250);
    text-decoration: none;
}

a#deconnexion:hover{
    background-color: rgb(40, 97, 255);
    border: ridge 3px rgb(184, 184, 184);
    color: rgb(255, 255, 255);
}

.alignCenter { text-align: center; }